@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
	padding: 0;
	margin: 0;
}
body {
	background: rgb(7, 7, 8);
	background-image: linear-gradient(
		to bottom right,
		rgb(87, 87, 90) 0%,
		rgb(12, 12, 12) 100%,
		rgba(21, 103, 120, 1) 100%
	);
	background-color: #283faa;
	height: 100vh;
	display: grid;
	place-items: left;
	color: white;
}

img {
	border-radius: 50%;
}

a {
	text-decoration: none;
}

.ditto {
	display: flex;
	justify-content: center;
	width: 100px;
}
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;

	/* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
	opacity: 0;
	transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.verdana-text {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.centerd-text {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.verdana-texts {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #00124E
